body {
    overflow: hidden;
    background-color: #666666;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
}


canvas {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    width: 100%;
    height: 100%; 
    /*background: black;*/
}


#customSettingsButton {
    padding: 3px;
    background-color:#46da41;
    border-radius: 2px;
    font: inherit;
}